.news-data {
  padding: 1em;
}
.ranklist{
  border: 1px solid darkgrey;
  margin-top: 10px;
  border-radius: 14px;
}




.year{

  border: 0.5px solid #e5e6eb;
    border-radius: 0.5px;
    color: black;
    display: flex;
    font-size: 11px;
    font-weight: 400;
    height: 19px;
    justify-content: center;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 0 4px;
}

.news-data .mainhead {
  /* color: #2a2a2a; */
  color: rgba(232,13,15,255);
  font-size: 20px;
  margin-top: 1em;
}

@media (max-width: 767px) {
  .news-data {
    padding: 7px;
  }

  .news-data .mainhead {
    margin-top: 0.2em;
    font-size: 16px;
  }

  .news-data .description {
    font-size: 12px;
  }
}

.news-data .description {
  /* color: #a3a3a3; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  margin-top: 9px;
}

.gap-bottom {
  margin-bottom: 1em;
}

.max-height-200 {
  max-height: 200px; /* Set your desired maximum height */
}

.broker-list {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.broker-list .header-potion {
  background: linear-gradient(180deg, #fafafa, #f5f5f5);
  border-radius: 2px;
  display: flex;
  height: 56px;
  width: 100%;
}

/*animation style section*/

.waves {
  position: relative;
  width: 100%;
  height: 16vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.waves.waves-sm {
  height: 50px;
  min-height: 50px;
}

.waves.no-animation .moving-waves > use {
  animation: none;
}

.wave-rotate {
  transform: rotate(180deg);
}

/* Animation for the waves */
.moving-waves > use {
  animation: move-forever 40s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.moving-waves > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 11s;
}

.moving-waves > use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.moving-waves > use:nth-child(3) {
  animation-delay: -3s;
  animation-duration: 15s;
}

.moving-waves > use:nth-child(4) {
  animation-delay: -4s;
  animation-duration: 20s;
}

.moving-waves > use:nth-child(5) {
  animation-delay: -4s;
  animation-duration: 25s;
}

.moving-waves > use:nth-child(6) {
  animation-delay: -3s;
  animation-duration: 30s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 767.98px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  hr.horizontal {
    background-color: transparent;
  }

  hr.horizontal:not(.dark) {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      white,
      rgba(255, 255, 255, 0)
    );
  }

  hr.horizontal.vertical {
    transform: rotate(90deg);
  }

  hr.horizontal.dark {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    );
  }
}

.header-rankings {
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  color: #292929;

  display: flex;
  float: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 56px;
  justify-content: center;
  line-height: 18px;
  padding: 0 10px;
  width: 129px;
}

.broker-list ul {
  display: flex;
  flex: 1;
  float: left;
  padding-left: 12px;
}

.broker-list li {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  height: 56px;
  justify-content: center;
}

.border-radius-0 {
  border-radius: 0;
}

.border-none {
  border: none;
}

.rank {
  margin-left: 2rem;
  width: 28px;
  height: auto;
}

.active-rank {
  color: red;
}

.product-img {
  max-width: 70px;
}

.list-group-item {
  margin-bottom: 1rem;
}

.start-section {
  margin-bottom: 2em;
}

@media (min-width: 360px) {
  .start-section {
    display: block;
  }
}

@media (max-width: 991px) {
  .start-section {
    display: block;
  }
}

.few-newses {
  margin-top: 2em;
  margin-bottom: 2rem;
}

.few-newses .head {
  font-size: 32px;
  /* color: #41246e; */
  color: rgba(232,13,15,255);
  line-height: 1.3;
  letter-spacing: -0.035em;
  font-weight: 700;
  margin-top: 0;
}

.few-newses .desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: rgba(61, 61, 61, 0.75);
}

.footer-section a {
  margin-left: 7px;
}

@media (max-width: 991px) {
  .footer-section a {
    margin-top: 2em;
    
  }
}

@media (max-width: 300px) {
  .footer-section .buttons {
    display: none;
  }
}

.lead {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625;
}

.btn.btn-whatsapp {
  background-color: green;
  color: #fff;
}

.btn.btn-whatsapp:focus,
.btn.btn-whatsapp:hover {
  background-color: rgb(1, 109, 1);
  color: #fff;
}

.btn.btn-facebook {
  background-color: #3b5998;
  color: #fff;
}

.btn.btn-facebook:focus,
.btn.btn-facebook:hover {
  background-color: #344e86;
  color: #fff;
}

.btn.btn-facebook:active,
.btn.btn-facebook:focus,
.btn.btn-facebook:active:focus {
  box-shadow: none;
}

.btn.btn-facebook.btn-simple {
  color: #344e86;
  background-color: transparent;
  background-image: none !important;
  box-shadow: none;
  border: none;
}

.btn.btn-facebook.btn-simple:hover,
.btn.btn-facebook.btn-simple:focus,
.btn.btn-facebook.btn-simple:hover:focus,
.btn.btn-facebook.btn-simple:active,
.btn.btn-facebook.btn-simple:hover:focus:active {
  color: #344e86;
  background: transparent !important;
  box-shadow: none !important;
}

.btn.btn-facebook.btn-neutral {
  color: #3b5998;
  background-color: #fff;
}

.btn.btn-facebook.btn-neutral:hover,
.btn.btn-facebook.btn-neutral:focus,
.btn.btn-facebook.btn-neutral:active {
  color: #344e86;
}

.btn.btn-twitter {
  background-color: #55acee;
  color: #fff;
}

.btn.btn-twitter:focus,
.btn.btn-twitter:hover {
  background-color: #3ea1ec;
  color: #fff;
}

.btn.btn-twitter:active,
.btn.btn-twitter:focus,
.btn.btn-twitter:active:focus {
  box-shadow: none;
}

.btn.btn-twitter.btn-simple {
  color: #3ea1ec;
  background-color: transparent;
  background-image: none !important;
  box-shadow: none;
  border: none;
}

.btn.btn-twitter.btn-simple:hover,
.btn.btn-twitter.btn-simple:focus,
.btn.btn-twitter.btn-simple:hover:focus,
.btn.btn-twitter.btn-simple:active,
.btn.btn-twitter.btn-simple:hover:focus:active {
  color: #3ea1ec;
  background: transparent !important;
  box-shadow: none !important;
}

.btn.btn-twitter.btn-neutral {
  color: #55acee;
  background-color: #fff;
}

.btn.btn-twitter.btn-neutral:hover,
.btn.btn-twitter.btn-neutral:focus,
.btn.btn-twitter.btn-neutral:active {
  color: #3ea1ec;
}

.btn.btn-dribbble {
  background-color: #ea4c89;
  color: #fff;
}

.btn.btn-dribbble:focus,
.btn.btn-dribbble:hover {
  background-color: #e73177;
  color: #fff;
}

.btn.btn-dribbble:active,
.btn.btn-dribbble:focus,
.btn.btn-dribbble:active:focus {
  box-shadow: none;
}

.btn.btn-dribbble.btn-simple {
  color: #e73177;
  background-color: transparent;
  background-image: none !important;
  box-shadow: none;
  border: none;
}

.btn.btn-dribbble.btn-simple:hover,
.btn.btn-dribbble.btn-simple:focus,
.btn.btn-dribbble.btn-simple:hover:focus,
.btn.btn-dribbble.btn-simple:active,
.btn.btn-dribbble.btn-simple:hover:focus:active {
  color: #e73177;
  background: transparent !important;
  box-shadow: none !important;
}

.btn.btn-dribbble.btn-neutral {
  color: #ea4c89;
  background-color: #fff;
}

.btn.btn-dribbble.btn-neutral:hover,
.btn.btn-dribbble.btn-neutral:focus,
.btn.btn-dribbble.btn-neutral:active {
  color: #e73177;
}

.read-more {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.card:hover .read-more {
  opacity: 1;
}

.card-section {
  width: 20rem;
  transition: all 0.4s ease-in-out;
}

.card-section:hover {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



/*button style*/

.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

/* @media (max-width: 991px) {
  .slick-initialized .slick-slide{
    width: 250px !important;
  }
} */


.d-ruby{
  display: ruby !important;
}

.card img {
  /* width: 100%; */
  height: auto;
}

.card-section {
  margin: 10px;
}

@media (max-width: 600px) {
  .card-section {
    margin: 5px;
  }
}
